@import "tailwindcss";

@theme {
  --color-grey: #dcdcdc;
  --color-accent: #f6f6f6;
  --color-darkgrey: #a9a9a9;
  --text-xs: 0.75rem;
  --breakpoint-xlg: 70rem;
  --breakpoint-xm: 56rem;
  --breakpoint-xs: 25rem;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

   /* Custom scrollbar styles (WebKit) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 11rem; /* vertical scrollbar width */
    height: 11rem; /* horizontal scrollbar height */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-black rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-black;
  }

  /* Custom scrollbar styles (Firefox) */
  .custom-scrollbar {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: theme('colors.black') theme('colors.gray.200'); /* thumb and track color */
  }

}


@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/MonaSans.ttf") format("truetype");
  font-display: swap;
}

body {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

button {
  cursor: pointer;
}

@media (width >= 70rem) {
  .grid-dashboard {
    grid-template-columns: 1fr 0.55fr;
  }
}

.setup.darkmode {
  --color-grey: #393939;
}

.darkmode::-webkit-calendar-picker-indicator {
  /* This filter turns the icon white */
  filter: invert(100%);
}

.setup {
  display: flex;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

select {
  appearance: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
}

.dropdown::before,
.dropdown::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.dropdown::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid;
  top: 40%;
}

.dropdown::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid;
  top: 55%;
}

.truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.truncate-multiline {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}
