@import "tailwindcss";

@theme {
  --color-grey: #dcdcdc;
  --color-darkgrey: #a9a9a9;
}

@font-face {
  font-family: "Mona Sans";
  src: url("./assets/fonts/MonaSans.ttf") format("truetype");
  font-display: swap;
}

body {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

.setup.darkmode {
  --color-grey: #393939;
}

.darkmode::-webkit-calendar-picker-indicator {
  /* This filter turns the icon white */
  filter: invert(100%);
}


.setup {
 display: flex;
 height: 100vh;
 overflow: hidden ;
}

select {
  appearance: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
}

.dropdown::before,
.dropdown::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.dropdown::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid ;
  top: 40%;
}

.dropdown::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid;
  top: 55%;
}

.truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.truncate-multiline {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}
